.logo {
    width: 400px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 1em;
}

.responsive {
    display: block;
}

img {
    max-width: 90% !important;
}

ul .fa-check {
    color: green;
}

.bg-white.p-6 {
    border: 1px solid #ccc;
    background: linear-gradient(149deg, rgb(37, 99, 235) 0%, rgb(24, 57, 199) 34%, rgb(0, 64, 255) 100%);
    color: white;
}