.logo {
    width: 400px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 1em;
}

.responsive {
    display: block;
}

img {
    max-width: 90% !important;
}

ul .fa-check {
    color: green;
}

.bg-white.p-6 {
    border: 1px solid #ccc;
    background: #2563eb;
    color: white;
}